$shadow-size: 3px;
$shadow-y: 1px;
$box-shadow: 0 $shadow-y $shadow-size 1px $shadow;

* {
  all: unset;
  color: $color;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  transition-property: color, background-color, border-color, text-decoration-color, opacity, box-shadow;
  transition-duration: .3s;
}

.bar {
  padding: 4px 12px;
  background-color: $bar-bg;
}

.shadow-container {
  $pad: calc($shadow-y + $shadow-size);
  padding: $pad;
}

.menu-container {
  padding: $window-padding;
}

.menu {
  padding: 8px;
  background-color: $menu-bg;
  border-radius: $window-rounding;
  box-shadow: $box-shadow;

  .title {
    padding: 0 8px 4px;

    label {
      font-size: 16px;
    }

    .icon {
      font-size: 14px;
    }
  }

  .seperator-container{
    padding: 4px 2px 2px;
  }

  .menu-item {
    padding: 4px 8px;
  }
}

.osd {
  padding: 8px 12px;
  background-color: $osd-bg;
  border-radius: 4px;
  box-shadow: $box-shadow;

  progressbar {
    $height: 4px;

    &,
    & * {
      min-height: $height;
      border-radius: $height;
    }

    trough {
      background-color: $progress-trough;
      min-width: 84px;
    }
  }
}

.icon {
  font-family: 'Symbols Nerd Font Mono';
  font-weight: normal;

  &.small {
    font-size: 12px;
  }

  &.bold {
    font-weight: bold;
  }
}

.widget-button {
  border-radius: 4px;

  &:hover {
    background-color: $hover;
  }
}

.fullscreen_overlay {
  background-color: rgba($color: $shadow, $alpha: 0.2);
}